<configuration scan="true" scanPeriod="300 seconds" >
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>../logs/disruptor-service.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>../logs/disruptor-service.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>8</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="INBOUND_JOURNAL_FILE" class="ch.qos.logback.core.FileAppender">
        <file>../logs/inbound.journal</file>
        <append>false</append>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>
    <appender name="OUTBOUND_JOURNAL_FILE" class="ch.qos.logback.core.FileAppender">
        <file>../logs/outbound.journal</file>
        <append>false</append>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>
    <logger name="com.leon.service" level="INFO" />
    <logger name="com.leon.controller" level="INFO" />
    <logger name="com.leon.handler.PublishingEventHandler" level="INFO"/>
    <logger name="com.leon.handler.InventoryCheckEventHandler" level="INFO"/>
    <logger name="com.leon.handler.OutboundJournalEventHandler" level="INFO">
        <appender-ref ref="OUTBOUND_JOURNAL_FILE"/>
    </logger>
    <logger name="com.leon.handler.InboundJournalEventHandler" level="INFO">
        <appender-ref ref="INBOUND_JOURNAL_FILE"/>
    </logger>
    <root level="ERROR">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
</configuration>